/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, figure {
  margin: 0;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4 {
  line-height: 1.1;
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'TazBlack';
    src: local('TazWt07-Bold'),
        url('./fonts/TazWt09-Black.woff2') format('woff2'),
        url('./fonts/TazWt09-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Taz';
    src: local('TazWt05-Regular'),
        url('./fonts/TazWt05-Regular.woff2') format('woff2'),
        url('./fonts/TazWt05-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --background24sata: #f5f5f5;
    --backgroundVL: #f5f9ff;
    --backgroundDarkVL: #42464E;
    --backgroundDefault: #FAFAFA;
    --liveColorDarkVL: #e41e27;
    --red: #FF0000;
    --red1: rgb(255, 0, 0, 1);
    --green: #C5D84A;
    --darkGreen: #2A9D8F;
    --fontColorDarkVL: #DDDDE0;
    --black: #000000;
    --opacity: .5;
    --font24sata: normal 400 100% 'TazRegular', sans-serif;
    --fontVL: normal 400 100% 'Roboto', sans-serif;
    --fontDefault: normal 400 100% 'Roboto Condensed', sans-serif;
    --fontTitle24sata: normal 400 100% 'TazBlack', sans-serif;
    --fontTitleVL: normal 400 100% 'Roboto Serif', serif;
    --fontTitleDefault: normal 400 100% 'Roboto Condensed', sans-serif;
    --fontPercent24sata: normal 400 100% 'TazBlack', sans-serif;
    --fontPercentVL: normal 400 100% 'Roboto', sans-serif;
    --fontPercentDefault: normal 400 100% 'Roboto Condensed', sans-serif;
    --percentFontWeight24sata: 400;
    --percentFontWeightVL: 800;
    --percentFontWeightDefault: 900;
    --titleFontWeight24sata: 400;
    --titleFontWeightVL: 500;
    --titleFontWeightDefault: 900;
    --titleFontSize24sata: 32px;
    --titleFontSizeVL: 25px;
    --titleFontSizeDefault: 32px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 31, 61, 0.7);
    }

    30% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(224, 31, 61, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 31, 61, 0)
    }
}

.cro_elections {
    padding: 16px;
    background-color: var(--backgroundDefault);
    font: var(--fontDefault);
    font-optical-sizing: auto;
    color: var(--black);
    overflow: hidden;
}

.data_wrapp {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live_blob,
.pixell {
    font-size: 14px;
    line-height: 20px;
}

.blob {
    background: var(--red);
    border-radius: 50%;
    margin: 6px 10px;
    height: 9px;
    width: 9px;
    box-shadow: 0 0 0 0 var(--red1);
    transform: scale(1);
    animation: pulse 5s infinite;
}

.live {
    display: none;
    align-items: center;
    color: var(--red);
    font-weight: 500;
}

h1 {
    font: var(--fontTitleDefault);
    font-size: var(--titleFontSizeDefault);
    font-weight: var(--titleFontWeightDefault);
    margin-bottom: 25px;
}

.year,
.text {
    display: block;
    text-align: center;
}

#last_change,
#processed_votes,
.pixell {
    opacity: var(--opacity);
}

#processed_votes span {
    font-weight: 600;
}

#election_results {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.person_data {
    display: flex;
    margin-bottom: 3px;
}

.details {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results img {
    background: url("./media/images/profile_placeholder.webp"), var(--green);
    background-size: cover;
    min-width: 135px;
    object-fit: cover;
}

.elections_results_wrapper {
    display: flex;
}

.graph.mobile {
    width: 20px;
    min-width: 20px;
    height: 100%;
    background-color: var(--green);
    margin-right: 10px;
    align-content: end;
}

.graph.mobile span {
    display: block;
    height: 30%;
    width: 100%;
    background-color: var(--darkGreen);
}

.name {
    font-size: 15px;
    margin-top: 20px;
}

.votes {
    font-size: 13px;
    opacity: var(--opacity);
    margin-top: 5px;
}

.percent {
    font: var(--fontPercentDefault);
    font-weight: var(--percentFontWeightDefault);
    font-size: 30px;
    line-height: 22px;
    margin-top: 20px;
}
.name,
.votes,
.percent {
    text-align: center;
}

.not_active {
    opacity: .2;
    pointer-events: none;
}

.remove {
    display: none;
}

.hidden {
    visibility: hidden;
}

.mobile {
    display: block;
}

.desk {
    display: none;
}

@media screen and (min-width: 900px) {
    .mobile {
        display: none;
    }

    .desk {
        display: block;
    }

    .graph.desk {
        height: 20px;
        margin-top: 25px;
    }

    .graph.desk span {
        display: block;
        height: 100%;
        width: 30%;
        background-color: var(--darkGreen);
    }

    .data_wrapp {
        position: absolute;
        top: 16px;
        width: calc(100% - 32px);
        margin: 0;
    }

    h1 {
        text-align: center;
        line-height: 63px;
        font-size: 30px;
        margin-bottom: 16px;
    }

    .year,
    .text {
        display: inline;
    }

    .results {
        display: grid;
        grid-template-columns: 165px 260px;
        gap: 25px;
    }

    .results img {
        min-width: 165px;
        min-height: 165px;
    }

    .person_data {
        flex-direction: row-reverse;
    }

    #election_results {
        justify-content: space-around;
        gap: 40px;
    }

    .name,
    .votes,
    .percent {
        text-align: left;
    }

    .name {
        font-size: 22px;
        margin-top: 12px;
    }

    .votes {
        font-size: 18px;
        margin-top: 1px;
    }

    .percent {
        font-size: 42px;
        margin-top: 25px;
    }

    .details {
        overflow: hidden;
    }
}
